{{#section 'title'}} Các sản phẩm {{/section}} {{#section 'css'}}
<link rel="stylesheet" href="/assets/home/css/products.css"> {{/section}} {{#section 'js'}}
<script src="/assets/home/js/products.js"></script>
{{/section}}

<div class="container">
	<div class="main">
		<div class="topPath row">
			<div class="col-lg-7">
				<span class="breadCum">
					<i class="fas fa-home"></i>
					<span class="breadCum-item">
						<a href="/"> ssgBackpack</a>
					</span>
					<span>/</span>
					<span class="breadCum-item active"> Sản phẩm</span>
				</span>
			</div>
			<div class="col-lg-5">
				<span class="sortSel">
					<a href="#" class="active">Nổi bật</a>
					<span> / </span>
					<a href="#">Bán chạy</a>
					<span> / </span>
					<a href="#">Mới nhất</a>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Nhà sản xuất</h3>
					</div>
					<div class="list-group">
						{{#each layoutVM.brands}}
						<a href="/product/byBra/{{BraID}}" class="list-group-item">{{BraName}}</a>
						{{/each}}
					</div>
				</div>
				<!-- End of panel Vendor -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Loại sản phẩm</h3>
					</div>
					<div class="list-group">
						{{#each layoutVM.categories}}
						<a href="/product/byCat/{{CatID}}" class="list-group-item">{{CatName}}</a>
						{{/each}}
					</div>
				</div>
				<!-- End of panel Types -->
			</div>

			{{#if noProducts}}
			<div class="col-sm-10">
				<div style="padding:0px;margin-right:20px;margin-top:20px;margin-bottom:20px;">
					<img src="/imgs/icons/no-product.png" style="max-height:100%; max-width:100%;">
				</div>
			</div>
			{{else}}

			<div class="col-sm-10">

				<div id="productView">

					{{#each products}}
					<div class="backpack-item">
						<a href="/product/detail/{{ProID}}">
							<div class="bp-saleoff">-1%</div>
							<img src="/imgs/products/{{ProID}}/1.jpg" height="240" width="300" style="max-height:100%; max-width:100%;">
							<div class="bp-name">{{ProName}}</div>
							<div class="bp-name">{{TinyDes}}</div>
							<div class="bp-price">{{number_format Price}}</div>
							{{!--
							<div class="bp-name">{{date_format ImportDate}}</div> --}}
						</a>
						<div class="btn-toolbar" role="toolbar">
							<div class="btn-group btn-group-sm" role="group">
								<form action="" method="post">
									<input type="hidden" value="addToCart" name="typeSubmit">
									<button type="submit" class="btn btn-danger addToCart">
										<i class="fas fa-cart-plus"></i>
									</button>
								</form>
								<button onclick="window.location.href='/product/detail/{{ProID}}'" type="button" class="btn btn-outline-info productDetail">Chi tiết</button>
							</div>
						</div>
					</div>
					{{/each}}

				</div>

				<ul id="paging-bar" class="pagination pagination-sm">
					{{!--
					<li class="page-item disabled">
						<a class="page-link" href="#">Previous</a>
					</li> --}} {{#each page_numbers}} {{#if isCurrentPage}}
					<li class="page-item active">
						<a class="page-link" href="javascript:;">{{value}}</a>
					</li>
					{{else}}
					<li class="page-item">
						<a class="page-link" href="?page={{value}}">{{value}}</a>
					</li>
					{{/if}} {{/each}} {{!--
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li> --}}
				</ul>

			</div>
			{{/if}}
		</div>
	</div>
</div>