{{#section 'title'}}
Các đơn hàng
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/assets/home/css/products.css">
<style type="text/css">
table.shopping-cart td{
	vertical-align: middle;
}
</style>
{{/section}}

{{#section 'js'}}
<script src="/assets/home/js/products.js"></script>

<script type="text/javascript">
$('.checkTrade').on('click', function() {
	var id = $(this).data('orderid');
	$('#frmCheckTrade #orderId').val(id);
	$('#frmCheckTrade').submit();
});
$('.deleteTrade').on('click', function() {
	var id = $(this).data('orderid');
	$('#frmDeleteTrade #orderId').val(id);
	$('#frmDeleteTrade').submit();
});
</script>
{{/section}}

<form id="frmCheckTrade" method="POST" action="">
	<input type="hidden" value="checkTrade" name="typeSubmit">
	<input type="hidden" name="orderId" id="orderId">
</form>

<form id="frmDeleteTrade" method="POST" action="">
	<input type="hidden" value="deleteTrade" name="typeSubmit">
	<input type="hidden" name="orderId" id="orderId">
</form>

<div class="container">
	<div class="main">
		<div class="topPath row">
			<div class="col-lg-7">
				<span class="breadCum">
					<i class="fas fa-home"></i>
					<span class="breadCum-item">
						<a href="/"> ssgBackpack</a>
					</span>
					<span>/</span>
					<span class="breadCum-item active">Các đơn hàng</span>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-md-2 col-lg-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Nhà sản xuất</h3>
					</div>
					<div class="list-group">
						{{#each layoutVM.brands}}
						<a href="/product/byBra/{{BraID}}" class="list-group-item">{{BraName}}</a>
						{{/each}}
					</div>
				</div>
				<!-- End of panel Vendor -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Loại sản phẩm</h3>
					</div>
					<div class="list-group">
						{{#each layoutVM.categories}}
						<a href="/product/byCat/{{CatID}}" class="list-group-item">{{CatName}}</a>
						{{/each}}
					</div>
				</div>
				<!-- End of panel Types -->
			</div>
			<div class="col-sm-10 col-md-10 col-lg-10">
				<div class="container" id="cart" style="background-color:white">
					<table class="table table-hover shopping-cart">
						<thead>
							<tr>
								<th>ID</th>
								<th>Khách hàng</th>
								<th>Ngày đặt hàng</th>
								<th>Số Tiền</th>
								<th>Tình trạng</th>
								<th>Đã giao</th>
								<th>Hủy</th>
							</tr>
						</thead>
						<tbody>
							{{#if layoutVM.curUser.f_Permission}}
							{{#each orders}}
							<tr>
								<td>{{OrderID}}</td>
								<td>{{f_Username}}</td>
								<td>{{number_format Total}}</td>
								<td>{{State}}</td>
								<td class="text-center">
									<a class="checkTrade" data-orderid="{{OrderID}}" href="javascript:;" role="button">
										<i class="fas fa-angle-up"></i>
									</a>
								</td>
								{{#if State}}
								<td>
									<a role="button">
										<i class="fas fa-check"></i>
									</a>
								</td>
								{{else}}
								<td>
									<a class="checkTrade" data-orderid="{{OrderID}}" href="javascript:;" role="button">
										<i class="fas fa-minus-square"></i>
									</a>
								</td>
								{{/if}}
								<td>
									<a class="deleteTrade" data-orderid="{{OrderID}}" href="javascript:;" role="button">
										<i class="fas fa-minus-square"></i>
									</a>
								</td>
							</tr>
							{{/each}}
							{{else}}
							{{#each cusOrders}}
							<tr>
								<td>{{OrderID}}</td>
								<td>{{f_Username}}</td>
								<td>{{date_format OrderDate}}</td>
								<td>{{number_format Total}}</td>
								<td>{{State}}</td>
								<td class="text-center">
									<a class="checkTrade" data-orderid="{{OrderID}}" href="javascript:;" role="button">
										<i class="fas fa-angle-up"></i>
									</a>
								</td>
								{{#if State}}
								<td>
									<a role="button">
										<i class="fas fa-check"></i>
									</a>
								</td>
								{{else}}
								<td>
									<a class="checkTrade" data-orderid="{{OrderID}}" href="javascript:;" role="button">
										<i class="fas fa-minus-square"></i>
									</a>
								</td>
								{{/if}}
								<td>
									<a class="deleteTrade" data-orderid="{{OrderID}}" href="javascript:;" role="button">
										<i class="fas fa-minus-square"></i>
									</a>
								</td>
							</tr>
							{{/each}}
							{{/if}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>