{{#section 'title'}}
Quản lí sản phẩm
{{/section}}

<div class="container-fluid body">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a id="btnAdd" class="btn btn-primary" href="javascript:;" role="button">
				<span class="fa fa-plus"></span>
				add
			</a>
		</div>
		<br>
		<div class="panel-body">
			<div class="row">
				{{#each products}}
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="/sp/{{ProID}}/main_thumbs.jpg" alt="{{proName}}">
						<div class="caption"></div>
						<h2 class="bp-name">{{proName}}</h2>
						<div class="bp-price">{{number_format Price}}</div>
						<p style="height: 60px">{{TinyDes}}</p>

						<a class="update btn btn-xs btn-danger" href="javascript:;" role="button">
							<span class="fa fa-wrench"></span> Update
						</a>
						<a class="remove btn btn-xs btn-success" href="javascript:;" role="button">
							<span class="fa fa-window-close"></span> Delete
						</a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		
		<ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			{{#each page_numbers}}
			{{#if isCurrentPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
			{{else}}
			<li><a href="?page={{value}}">{{value}}</a></li>
			{{/if}}
			{{/each}}
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>