{{#section 'title'}} Giỏ hàng {{/section}}
{{#section 'css'}}
<link rel="stylesheet" href="/assets/home/css/products.css"> {{!--
<link rel="stylesheet" href="/assets/home/css/product-detail.css"> --}}
<link rel="stylesheet" href="/assets/home/css/cart.css">
{{/section}}
{{#section 'js'}}
<script src="/assets/home/js/products.js"></script>
<script src="/assets/home/js/cart.js"></script>
{{/section}}

<form id="frmPayment" method="POST" action="">
	<input type="hidden" value="payment" name="typeSubmit">
	<input type="hidden" id="orderDate" name="orderDate">
</form>

<form id="frmRemoveItem" method="POST" action="">
	<input type="hidden" value="removeFromCart" name="typeSubmit">
	<input type="hidden" name="proId" id="txtP">
</form>

<form id="frmGetAmount" method="POST" action="">
	<input type="hidden" value="getAmount" name="typeSubmit">
	<input type="hidden" name="proId" id="txtP">
	<input type="hidden" name="quantity" id="txtQ">
</form>

{{!-- từ đây trở lên ổn rồi, chưa cho dô file.js thôi :3 --}}

<div class="container">
	<div class="main">
		<div class="topPath row">
			<div class="col-lg-7">
				<span class="breadCum">
					<i class="fas fa-home"></i>
					<span class="breadCum-item">
						<a href="/"> ssgBackpack</a>
					</span>
					<span>/</span>
					<span class="breadCum-item active">Giỏ hàng</span>
				</span>
			</div>
		</div>
		{{#if layoutVM.cartSummary }}
		<div class="cartView row">
			<div class="col-sm-9 col-md-9 col-lg-9 product-list">
				<div class="container" id="cart" style="background-color:white">
					<table class="table table-hover ">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Sản Phẩm</th>
								<th>Giá tiền</th>
								<th>Số lượng</th>
								<th>Thành tiền</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{{#each items}}
							<tr>
								<td>
									<img src="/imgs/products/{{product.ProID}}/1.jpg" height="185" width="185" style="max-height:100%; max-width:100%;">
								</td>
								<td>{{product.ProName}}</td>
								<td>{{number_format product.Price}}</td>
								<td>
									<a data-proid="{{product.ProID}}" class="btn btn-secondary btn-sm subByOneCart" href="javascript:;" role="button" disabled>
										<span aria-hidden="true">-</span>
									</a>
									<input type="number" name="quantity" class="numItemCart" value={{quantity}} min="1" max="10" style="border: none; width:30%; text-align:center"
									readonly>
									<a data-proid="{{product.ProID}}" class="btn btn-secondary btn-sm addByOneCart" href="javascript:;" role="button" disabled>
										<span aria-hidden="true">+</span>
									</a>
								</td>
								<td>{{number_format amount}}</td>
								<td class="text-right">
									<a data-proid="{{product.ProID}}" class="btn btn-danger removeItem" href="javascript:;" role="button">
										<span aria-hidden="true">&times;</span>
									</a>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 payment-info">
				<div class="panel panel-default">
					<div class="panel-heading">Thông tin đơn hàng</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

								Tổng tiền:
								<br>
								<small>Tạm tính ({{layoutVM.cartSummary}} sản phẩm)</small>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								{{number_format total}}
							</div>
						</div>
						<div class="row"></div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Thông tin người mua</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								{{layoutVM.curUser.f_Username}}
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								SĐT: {{layoutVM.curUser.f_Phone}}
							</div>
						</div>
					</div>

					<div class="panel-footer">
						<button class="btn btn-dark" id="payment" href="javascript:;">Đặt hàng</button>
					</div>
				</div>
			</div>


		</div>
		{{else}}
		<div class="emptyCart">
			<img src="imgs/icons/no-order.png" alt="">
			<button class="btn btn-dark" onclick="window.location.href='/product'"><i class="fas fa-shopping-basket"></i> Mua sắm ngay</button>
		</div>
		{{/if}}
	</div>
</div>